*, *::after, *::before{
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    margin: 0;
}
a{
    color: inherit;
}
.topbar{
    background: #2c3e50;
    color: #fff;
    font-weight: bold;
}
.topbar a{
    text-decoration: none;
}
.topbar-logo{
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
}
.menu{
    text-align: center;
}
.menu a{
display: inline-block;
 margin: 0 12px;
 color: rgba(255,255,255,0.67);
 transition: color .4s;
}
.menu a:hover,
.menu a.active{
color: #fff;
}
.content{
    
    padding: 0 15px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.site{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;

}

.sidebar a{
    display: block;
    text-decoration: none;
    width: 50%;
    padding: 0.6em 0;
    transition:  .4s;
    border: 1px solid transparent;
    padding-left: 10px;
}
.sidebar a span{
    margin-right: 8px;
}

.sidebar a:hover,
.sidebar a.active{
    color: #000;
    background: #fff;
    border-radius: 4px;
}
.card{
    border: 1px solid #dbdbdb;
    border: 3px;
    background: #fff;
}
.carder-header{
    position: relative;
    padding: 10px;
}
.card-header-avatar{
    padding-left: 65px;
}
.card-avatar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.card-title{
    font-weight: bold;
    color: #000;
    margin: 5px 0;
    font-size: 18px;
}
.card-time{
    color:rgba(0,0,0,0.38);
    font-size: 12px;
}



@media only screen and (min-width: 490px){
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }
    .topbar-logo,
    .menu{
        padding: 0;
    }
    .menu a{
        margin: 0 20px;
    }
}
@media only screen and (min-width: 950px){
    .site{
        display: flex;
    }
    .sidebar{
        display: block;
        flex: none;
        width: 180px;
    }
    .sidebar a{
        width: 100%;
    }
    .main{
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .aside{
        flex: none;
        width: 310px;
    }
}

    
